{% extends "layout.html" %}
{% block content %}
  <article class="media content-section">
<!--    <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/default.jpg')}}"> -->
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2">{{ student.FirstName }}{{student.LastName}}</a>
        <small class="text-muted">{{now.strftime('%A %B, %d %Y %H:%M')}}</small>

          <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('update_student', SSN=student.SSN) }}">Update Student Information</a>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('new_contact', SSN=student.SSN) }}">New Emergency Contact</a>
			<a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('enroll', SSN=student.SSN) }}">Place in Class</a>
			<a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('input_grade', SSN=student.SSN) }}">Input Grades</a>
			<a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('discipline', SSN=student.SSN) }}">Discipline Log</a>
			<a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('student_attendance', SSN=student.SSN) }}">Student Attendance</a>
			<button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete Student</button>
          </div>
 
      </div>

    </div>
  </article>
  <!-- Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Delete Student?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <form action="{{ url_for('remove_student', SSN=student.SSN) }}" method="POST">
            <input class="btn btn-danger" type="submit" value="Delete">
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}