{% extends "layout.html" %}
{% block content %}
			   
            <legend class="border-bottom mb-4">{{ legend }}</legend>			   
<table style="width:100%">
  <tr>	
 <th>Student Last Name</th>
    <th>Student First Name</th> 
    <th>Student Grade Level</th>
	<th>Student Regular GPA</th>
  </tr>  
    {% for row in regulargpa %}
	  
		<tr>
            <td> {{row.LastName}}</td>
			<td>{{row.FirstName }}</td>
			<td>{{ row.Grade_Level }}</td>
			<td>{{  row.GPA  }}</td>
        </tr>
     {% endfor %}
	 </table>
	 
	 <br><br><br><br><br>
<table style="width:100%">
  <tr>	
 <th>Student Last Name</th>
    <th>Student First Name</th> 
    <th>Student Grade Level</th>
	<th>Student Flagged GPA</th>
  </tr>  
    {% for row in flaggedgpa %}
	  
		<tr>
            <td> {{row.LastName}}</td>
			<td>{{row.FirstName }}</td>
			<td>{{ row.Grade_Level }}</td>
			<td>{{  row.GPA  }}</td>
        </tr>
     {% endfor %}
	 </table>
{% endblock content %}
